@import './chunks/btn.styl'
@import './chunks/layout.styl'
@import './chunks/header.styl'
@import './chunks/menu.styl'
@import './chunks/breadcrumb.styl'
@import './chunks/main.styl'
@import './chunks/widget-service.styl'
@import './chunks/footer.styl'
@import './chunks/widget-contact.styl'
@import './chunks/copyright.styl'
@import './chunks/metrika.styl'
@import './chunks/table.styl'
@import './chunks/widget.styl'
@import './chunks/search.styl'
@import './chunks/post.styl'
@import './chunks/gallery.styl'
@import './chunks/comment.styl'
@import './chunks/post-navigation.styl'
@import './chunks/embed-responsive.styl'
@import './chunks/thumbnail.styl'
@import './chunks/widget-social.styl'
@import './chunks/gallery-preview.styl'
@import './chunks/pagination.styl'
@import './chunks/list-teach.styl'
@import './chunks/shdwtab.styl'
@import './chunks/places.styl'
@import './chunks/list-new.styl'
@import './chunks/slider.styl'
@import './chunks/flybtn.styl'
@import './chunks/modal.styl'
