.comments
  &-title
    font-size 16px

.comment
  &-reply-title
    margin-bottom 10px
  &-form-comment
    label
      display block
    textarea
      resize none
      border-radius 4px
      border 1px solid rgba($menu-bg, 0.7)
      padding: 10px
      width 100%
      height 50px
      outline none
      transition height 0.3s ease
      &:hover
      &:focus
        border-color rgba($menu-bg, 1)
      &.comment-dirty
      &:focus
        height 80px
  &-list
    padding-left 0
    list-style-type none
    .children
      list-style-type none
      padding-left 15px
  &-author
    float left
    width 50%
    white-space nowrap
    .avatar
      border-radius 4px
      display inline-block
      vertical-align middle
      width 35px
      height 35px
    .fn
      font-weight normal
      display inline-block
      vertical-align middle
      margin-left 5px
      font-size 0.9em
    .says
      display inline-block
  &-metadata
    font-size 0.7em
    float right
    width 50%
    text-align right
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  &-meta
    clearfix()
    background-color lighten($menu-bg, 90%)
    padding 5px
    border-radius 4px
  &-body
    margin-bottom 20px
  &-content
    margin-top 10px
    p
      margin-bottom 5px
  &-reply-link
    make-button(#fff, 0.9em, $menu-bg, 5px, 4px)
    
.form-submit
  input[type="submit"]
    @extend .btn
    padding 7px 12px
    border-radius 4px
    border 0
    color #fff
    background-color $menu-bg
    &:hover
    &:focus
      background-color darken($menu-bg, 5%)
    &:active
      background-color darken($menu-bg, 10%)
