.copyright
  &__logo
    width 115px
    height 80px
    background url(./img/footer-logo-noise.png) no-repeat center center / 115px
    margin auto
  &__text
    font-size 12px
    text-align center
    margin-top 15px
