@keyframes slowjiggle
  0% 
    transform perspective(100px) rotateY(-20deg)
  50% 
    transform perspective(100px) rotateX(25deg) scale(0.85) translateY(-15px) translateX(-5px)  
  100%
    transform perspective(100px) rotateY(20deg) translateX(-10px)

.flybtn
  display none
  height 80px
  width 80px
  border-radius 50%
  background #b6e026
  background radial-gradient(ellipse at center, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%)
  line-height 80px
  vertical-align middle
  text-align center
  cursor pointer
  font-family 'Roboto', sans-serif
  font-weight 700
  text-transform uppercase
  font-size 12px
  box-shadow 0 0 25px -5px rgba(0, 0, 0, 0.5)
  animation slowjiggle 10s ease-in-out infinite alternate both
  position relative
  overflow hidden
  @media (min-width: $md-devices-min)
    display block
  &:before
    position absolute
    content ''
    display block
    left 0
    top 0
    bottom 0
    right 0
    opacity 0
    transition opacity .2s
    background #d2ff52 
    background radial-gradient(ellipse at center, lighten(#e6f0a3, 30%) 0%, lighten(#d2e638, 15%) 50%, lighten(#c3d825, 10%) 51%,#dbf043 100%)
    z-index 1
  &:hover:before
    opacity 1
  span
    position relative
    z-index 2
    border-bottom 2px solid #000
