.flybtn
  height 45px
  border-radius 4px
  border none
  background #6a73c1
  background linear-gradient(to bottom, #6a73c1 0%, #5963b9 100%)
  vertical-align middle
  text-align center
  cursor pointer
  font-size 18px
  font-weight 700
  text-transform uppercase
  text-shadow 0 0 10px rgba(0, 0, 0, .25)
  box-shadow 0 0 0 3px rgba(255, 255, 255, 1), 0 0 12px rgba(0, 0, 0, 1)
  position relative
  color #fff
  padding 8px 25px
  letter-spacing 0.7px
  outline none
  margin-top 100px

  @media (min-width: $sm-devices-min)
    display block

  &:hover
    background lighten(#6a73c1, 10%)
    background linear-gradient(to bottom, lighten(#6a73c1, 10%) 0%, lighten(#5963b9, 10%) 100%)

  &:before
    content ""
    display block
    position absolute
    left 0
    right 0
    bottom calc(100% + 3px)
    height 100px
    background-image url(img/baby.png)
    background-repeat no-repeat
    background-size 150px auto
    background-position left top

  &_fixed
    position fixed
    right 10px
    bottom 10px
    opacity 0
    transition opacity 0.3s
    z-index 9999
    font-size 14px
    padding 2px 12px
    height 35px

    @media (min-width: $sm-devices-min)
      height 45px
      font-size 18px
      padding 8px 25px

    @media (min-width: $lg-devices-min)
      right 20px
      bottom 20px

    &:before
      height 65px
      background-size 95px auto
      background-position-x center

      @media (min-width: $sm-devices-min)
        height 100px
        background-size 150px auto
        background-position left top

  &_show
    opacity 1
    
  span
    position relative
    z-index 2
