.flybtn
  display none
  height 45px
  border-radius 4px
  border 1px solid #505094
  background #6a73c1
  background linear-gradient(to bottom, #6a73c1 0%, #5963b9 100%)
  vertical-align middle
  text-align center
  cursor pointer
  font-size 18px
  font-weight 700
  text-transform uppercase
  text-shadow 0 0 10px rgba(0, 0, 0, .25)
  box-shadow 0 0 10px rgba(0, 0, 0, .4)
  position relative
  color #fff
  padding 8px 25px
  letter-spacing 0.7px
  outline none
  @media (min-width: $sm-devices-min)
    display block
  &:hover
    background lighten(#6a73c1, 10%)
    background linear-gradient(to bottom, lighten(#6a73c1, 10%) 0%, lighten(#5963b9, 10%) 100%)
  // &:before
  //   content ""
  //   display block
  //   position absolute
  //   bottom 0
  //   right -25px
  //   width 60px
  //   height 75px
  //   background-image url(img/wing.png)
  //   background-repeat no-repeat
  //   background-size 60px
  //   background-position right bottom
  span
    position relative
    z-index 2
