.footer
  @extend .section
  background url(./img/footer-bg.jpg) no-repeat center bottom
  padding-top 40px
  &__row
    clearfix()
    margin 0 -10px
    &_content
      min-height 125px
      margin-top 20px
  &__col
    padding 0 10px
    @media (min-width: $sm-devices-min)
      float left
      width 33.333%
    &:not(:first-child)
      margin-top 20px
      @media (min-width: $sm-devices-min)
        margin-top 0
    &_contact
    &_metrika
      @media (min-width: $sm-devices-min)
        padding-top 10px
