.gallery-preview
  display block
  position relative
  &__image
    display block
    img
      max-width 100%
      display block
      margin auto
  &__title
    display block
    position absolute
    left 0
    bottom 0
    font-size 20px
    background rgba($menu-bg, 0.9)
    border 1px solid darken($menu-bg, 15%)
    border-left none
    border-bottom none
    padding 10px 15px
    text-decoration none
    color #fff
