$sm-devices-min = 768px
$md-devices-min = 992px
$lg-devices-min = 1200px

$font-size = 16px
$font-color = #2b2937; 

$menu-color = #fff
$menu-bg = #6666cc

$container-max-width = 1020px

$main-two-column-max-width = $container-max-width
$main-one-column-max-width = 840px

for index in 1 2 3 4 5
  .z-index-{index}
    z-index index

clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

make-button(color = #fff, font-size = 1em, bg = #6666cc, pg = 15px, pv = 10px)
  @extend .btn
  display inline-block
  border-radius 4px
  border 0
  line-height 1
  color color
  font-size font-size
  padding pv pg
  background-color bg
  &:hover
  &:focus
    background-color darken(bg, 5%)
    color color
  &:active
    background-color darken(bg, 10%)
    color color

.section
  clearfix()
  @media (min-width: $md-devices-min)
    padding-left 5%
    padding-right 5%

*
  box-sizing border-box

.container
  padding 0 20px
  max-width 1020px
  margin 0 auto

.row
  clearfix()
  margin 0 -20px

body
input
button
  font-family: 'Fira Sans', sans-serif;

body
  background #fff
  line-height 1.375
  font-size $font-size
  color $font-color

a
  color darken($menu-bg, 5%)
  &:visited
    // color lighten($menu-bg, 15%)
  &:hover
    color darken($menu-bg, 15%)
  &:active
    color darken($menu-bg, 25%)

.wrapper
  @media (min-width: $md-devices-min)
    background url(img/header-bg.jpg) no-repeat center top
