.main
  @extend .section
  padding-top 20px
  position relative
  h1
    font-size 23px
    line-height 1.1
    @media (min-width: $sm-devices-min)
      font-size 32px
  h1
  h2
  h3
    margin-top 0
    margin-bottom 0.73rem
  img
    display block
    max-width 100%
    height auto
  .aligncenter
    margin auto
  .alignleft
    float left
  .alignright
    float right
  .container
    max-width $main-one-column-max-width
  .entry-footer
    margin-top 15px
  &_column_two
    .container
      max-width $main-two-column-max-width
  &__row
    clearfix()
    margin 0 -15px
    &_breadcrumb
      margin-bottom 15px
      h1
        margin-bottom 0
      @media (min-width: $sm-devices-min)
        margin-bottom 30px
  &__col
    padding 0 15px
  &_column_two
    .main__col
      @media (min-width: $sm-devices-min)
        float left
        &_content
          width 70%
        &_sidebar
          width 30%
