.main
  @extend .section
  padding-top 20px
  position relative
  h1
    margin-top 0
    font-size 23px
    line-height 1.1
    @media (min-width: $sm-devices-min)
      font-size 32px
  p
    margin 0 0 1rem
  .container
    max-width $main-one-column-max-width
  .entry-footer
    margin-top 15px
  &_column_two
    .container
      max-width $main-two-column-max-width
  &__row
    clearfix()
    margin 0 -15px
    &_breadcrumb
      margin-bottom 15px
  &__col
    padding 0 15px
  &_column_two
    .main__col
      @media (min-width: $md-devices-min)
        float left
        &_content
          width 70%
        &_sidebar
          width 30%
