.navigation 
  margin-bottom 25px

.nav
  &-links
    clearfix()
    .meta-nav
      display block
      font-size 1.1em
    .post-title
      display block
      font-size 0.8em
  &-previous
  &-next
    width 49%
    background-size auto 35px
    background-repeat no-repeat
  &-previous
    float left
    padding-left 30px
    background-image url(./img/before.svg)
    background-position left 6px
  &-next
    float right
    text-align right
    padding-right 30px
    background-image url(./img/next.svg)
    background-position right 6px
    
