.shdwtab
  position relative
  overflow hidden
  padding-right 1px
  margin-bottom 15px
  &__shad 
    position absolute
    top 10px
    bottom 10px
    width 40px
    display none
    box-shadow 0px 0px 35px rgba(0,0,0,0.7)
    border-radius 3em/13em
    &_lt 
      left -42px
    &_rt 
      right -42px
    &_visible 
      display block
  &__wrap 
    overflow auto
