.thumbnail
  padding 0 10px
  margin-bottom 1em
  &__row
    clearfix()
    margin 0 -20px
  &__item
    padding 0 10px
    margin-bottom 1em
  &_col
    &_2 ^[0]__item
      @media (min-width: $xsl-devices-min)
        float left
        width 50%
    &_3 ^[0]__item
      @media (min-width: $xsl-devices-min)
        float left
        width 50%
      @media (min-width: $md-devices-min)
        width 33.333%
    &_4 ^[0]__item
      @media (min-width: $xsl-devices-min)
        float left
        width 50%
      @media (min-width: $md-devices-min)
        width 25%

.thumb-item
  &__img
    position relative
    &:before
      position absolute
      left 0
      top 0
      bottom 0
      right 0
      z-index 2
      display block
      content ""
      transition background 0.5s
      border-radius 4px 4px 0 0
      ~/:hover &
        background rgba($menu-bg, 0.3)
    img
      display block
      width 100%
      min-width 100%
      border-radius 4px 4px 0 0
      position relative
      z-index 1
  &__title
    text-align center
    padding 8px 0
    border 1px solid rgba($menu-bg, 0.2)
    border-top none
    border-radius 0 0 4px 4px
    transition border-color 0.5s
    ~/:hover &
      border 1px solid rgba($menu-bg, 0.5)
      border-top none
      
    @media (min-width: $sm-devices-min)
      padding 13px 0
    @media (min-width: $md-devices-min)
      font-size 1.2rem
