.widget-sevice
  clearfix()
  margin 0 -10px 20px
  padding 0
  list-style-type none
  text-align center
  &__item
    display inline-block
    vertical-align top
    padding 0px 15px
    width 50%
    text-align center
    margin-bottom 15px
    @media (min-width: $sm-devices-min)
      width 33.33333%
    @media (min-width: $md-devices-min)
      width 20%
      margin-bottom 0
    a
      display inline-block
      &:before
        content ""
        display block
        width 125px
        height 130px
        background-repeat no-repeat
        background-position center top
        background-size 125px auto
        margin 0 auto 10px
    &_fly a:before
      background-image url(./img/ico-fly.png)
    &_photo a:before
      background-image url(./img/ico-photo.png)
    &_surprice a:before
      background-image url(./img/ico-surprice.png)
    &_ads a:before
      background-image url(./img/ico-ads.png)
    &_yoda a:before
      background-image url(./img/ico-yoda.png)
